/target
lichess.pgn

lichess-bot/*.yml
lichess-bot/**/__pycache__
lichess-bot//engines/*
lichess-bot/!/engines/README.md
lichess-bot/lichess_bot_auto_logs/*
lichess-bot/.vscode/*
lichess-bot/.vs/*
lichess-bot/*.pgn
lichess-bot/*.log
lichess-bot/*.txt
lichess-bot/TEMP/*